.counterBase {
    text-align: center;
    background: black;
}

.counterBase div{
    display: inline-block;
    font-size: 80px;
    background: black;
    color: white;
    padding: 10px;
    margin: 5px;
}